body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: gray;
    color: aliceblue;
    gap: 0;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

pre {
    margin: 0;
    font-size: larger;
}

p {
    font-size: larger;
}

button {
    color: aliceblue;
    background-color: #2775f2;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
}

button > a {
    text-decoration: none;
    color: aliceblue;
}

button:hover {
    background-color: #0054db;
}

button:active {
    background-color: #04388c;
}

table, td, th {
    border: 1px solid;
    border-color: gray;
    border-collapse: collapse;
}

table {
    background-color: #2d2d2d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
}

td, th {
    padding: 7px;
    width: 200px;
}

#container {
    width: 100%;
}

/* NAVBAR */

nav {
    background-color: #0b263b;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Középre igazítja a navbar elemeit */
}

.navbar.left {
    flex-grow: 1;
}

.navbar li {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a, .navbar label {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center; /* Középre igazítja a linkek tartalmát */
    height: 100%;
}

.navbar a:hover, .navbar label:hover {
    background-color: #005b99;
}

/* Hamburger menü elrejtve asztali nézetben */
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    margin-left: auto;
}

/* MAIN */

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#content > div {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.flex {
    display: flex;
    gap: 5px;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
    
}

.alma-logo {
    width: 5rem;
    aspect-ratio: 1/1;
}

.logo > a > img {
    width: 3rem;
    aspect-ratio: 1/1;
}

.text-algin {
    text-align: justify;
}

.code-editor {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

code > .blue, td.blue > p, p > span.blue {
    color: #6db8ff;
}

code > .orange, td.orange > p, p > span.orange{
    color: #ff9a42;
}

code > .red, td.red > p, p > span.red {
    color: #eb7578;
}

code > .purple, td.purple, p > span.purple {
    color: #8186f0;
}

td > p {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1000px){
    #content > div{
        width: 90vw;
    }

    #content {
        padding: 5px 0px 0px 0px;
        min-height: 94vh;
    }

    nav {
        flex-wrap: wrap;
        gap: 10px;
    }

    .menu-icon {
        display: block; /* Mobilon jelenjen meg a hamburger ikon */
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0px 0;
    }

    .navbar.left {
        gap: 10px;
    }

    #menu-toggle:checked ~ .navbar {
        display: flex; /* Lenullázott menüpontok lenyíló listában */
    }

    #menu-toggle:checked ~ .navbar.right {
        display: flex; /* Jobb oldali menüpontok is megjelennek */
    }
}